---
layout: page
title: "About"
description: "Nice to meet you."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <br>
    <blockquote>
      你想成为怎样的一个人？今天为此努力了吗？
    </blockquote>
    <br>
    喜欢编程。从前对编程的认识模糊，如今虽然谈不上了解，但至少知道自己可以做到哪个程度，以及满怀对未知领域一探究竟的渴望。
    <br><br>毕业后的工作经历过迷茫与挣扎，花了好大力气挺过来，有了模糊的职业认识与发展目标，能够静下心来去积累了。工作已经一年，坐标香港，接触过Android,
    iOS开发以及Web的前端开发。未来的短期计划是主攻iOS开发，学有余力时玩下Web的前后端技术。
    <br><br>对计算机以外的世界同样充满好奇，喜欢听别人讲述他们的故事以及对不同领域的认识，坚信跨学科学习有着“1+1>2”的化学效果。从小深受日本文化的“毒害”，
    童年时的“美少女战士”是启蒙。喜爱他们的反差式幽默以及温柔而坚定的内心性格。
    <br><br>喜欢篮球、动漫、电影、音乐、阅读和摄影，欣赏科比，讨厌跑步和猪肝。独处可以自得其乐，社交时而腼腆时而逗比。坚信“想了解世界，先要了解自己”的观点。
    <br><br>我叫戴昕明，一个古怪却努力真诚对待生活与关心我的人的小胖子。
    <br><br>
</div>

<!-- English Version -->
<div class="en post-container">
    <br>
    <blockquote>
        Do what you love, love what you do.
    </blockquote>
    <br>
    I am a slow learner with love in coding. Starting with poor understanding in programming one year ago, right now I am kind of knowing
    to what level my knowledge and skills are, along with strong passion in exploring further new areas.
    <br><br>One year's struggling in workplace after graduation has given me initial understandings in industry and not bad goals in both
    career and life. I feel grateful for what I have experienced since those have given me fighting spirit and concentration in accumulating knowledge. Right now
    I am living in Hong Kong, and have short experienced in Android, iOS development and Web front-end development. The short-term goal is to focus on iOS
    platform, with interest in exploring technologies of Web development when time allows.
    <br><br>Being curious about areas other than computer's, I like listening to other people's description of their stories and shares of their thoughts in
    interested areas. I believe cross-disciplinary learnings can have chemical effect of "1+1>2". Japanese culture has deeply "poisoned" my mind, from
    watching "Sailor Moon" in my childhood. I quite admire their humor style of contrast, and gentle but persistent personalities.
    <br><br>Love basketball, anime, movies, music, reading and photography, with admiration for Kobe Bryant. I can have fun when being alone, and sometimes
    being shy sometimes being humorous in social activities. I insist that someone should know him/herself first before knowing the outside world.
    <br><br>I am Desomnd DAI, a strange boy with efforts in being true to life and people who really cares about me.
    <!-- The quotation is good so I preserve. by Desmond -->
    <!-- Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    <p style="text-align:right;">
    -- Steve Jobs
    </p> -->
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<br><br>
<div class="ds-thread" data-thread-key="about" data-title="{{ page.title }}" data-url="{{ site.url }}/about/"></div>
<br><br>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var _user = "{{ site.duoshuo_username }}";
    // duoshuo comment query.
    var duoshuoQuery = { short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
