---
layout: page
title: "About"
description: "Nice to meet you."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
      你想成为怎样的一个人？今天为此努力了吗？
    </blockquote>
    凭着对编程模糊的好感，对行业认识一头雾水的我在毕业后找到了第一份码农的工作，开启了自己的人生RPG之职场篇。
    <br><br>然而工作伊始面对的各种不懂让我倍感压力和厌烦，也开始质疑自己的选择。有过几次换职业的想法，却发现自己学无所长，也不了解自己想要什么，就这样在焦虑和逃避的心情中度过了几个月。也许是物极必反，不断积累的负能量终于触发了内心的本能，自尊有时候还是挺能帮上忙的！我开始思考，既然选择了编程这条路，而且初衷里也是有着模糊的喜爱，就应该拼尽全力去奋斗呀，自怨自艾根本不会让事情变好。
    <br><br>于是强迫自己从基础开始一步步学起，也厚着脸皮追问同事很弱智的问题（真的很感谢他们的耐心:stuck_out_tongue_closed_eyes:）。很奇妙地，我开始在实践中慢慢地积累起成就感，也开始为编程世界里的创造性所吸引。尽管目前的我还是很弱，偶尔有些问题会让对方哭笑不得，但我已经不那么迷茫了，编程已经是我人生RPG之路上的一门技能，我愿倾我所能去修炼，享受当中的乐趣！
    <br><br>迄今为止接触过Android, iOS的App开发以及Web的前端开发，还都很基础。当前目标是想主攻iOS，出于对苹果生态系统的喜爱以及Xcode的偏好。互联网大大地改变了我们的生活方式，未来也将带来更广泛的颠覆。我憧憬着能成为其中创新者们的一员，用技术改变生活，为创造更美好的世界贡献自己的绵薄之力！（脸皮真厚= =）
    <br><br>喜欢篮球、动漫、电影、阅读和摄影，讨厌跑步和猪肝。喜欢独处略大于社交，独处于我是把经历和想法内化的最好环境，满足了内心的自己才能独立地与外部世界相处。自信很重要，接受自己的个性，勇敢去成为自己想要的样子。在25岁里明白了一些道理，告诉自己，一切都不会太晚，做个有心人，就足够了。
    <br><br>这就是我，我是戴昕明，喜欢被朋友叫“大罗”的人。

    <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/19687065">李书航 － 什么是「共产中文腔调」？ </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
